

.post-17 {
  width: 100%;
  display: block;
  section.page-content {
    display: block;
    width: 60%;
    margin: 0 auto;
    flex-direction: none;
    margin-top: -25px;
    @include media-type(phone) {
      width: 70%;
    }

    .wpcf7 {


      form {
        width: 100%;

        p {
          width: 100%;
        }

        input[type="text"], input[type="email"] {
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          outline:none;
          border: 0;
          border-bottom: thin solid map-get($theme-palette, grey);
          font-size: 14px;
          line-height: 14px;
          padding: 1rem;
          @include media-type(phone) {
            width: 88%;
          }
        }
        textarea {
          width: 100%;
          -webkit-appearance: none;
          -moz-appearance: none;
          outline:none;
          border: 0;
          border: thin solid map-get($theme-palette, grey);
          font-size: 14px;
          line-height: 14px;
          padding: 1rem;
          @include media-type(phone) {
            width: 88%;
          }
        }

      }


    }
  }
}
