@import "mixins";

header #hero.hero {
  display: none;
}
nav {
  top: 0;
  background-color: transparent!important;
  z-index: 9;
}
body.admin-bar {

  nav {
    top: 32px;
  }
}

body {
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 60% 100%;
  height: 100vh;
  overflow: hidden;

  figure {
    width: 50%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: 13%;
    background-size: cover;
    float: right;
    @include media-type(phone) {
      width: 100%;

    }
  }
}
body main {
  flex-direction: row;
  background-color: white;
  background-image: url(../../images/large-logo.png);
  background-repeat: no-repeat;
  background-position: -4% 78%;
  margin: 0;
  width: 60%; //increase with animation
  // max-width: 100%;
  // min-height: 160%;
  height: 160%;
  border-radius: 0 50% 50% 0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  align-items: center;
  padding-left: 179px;
  // @include flex-container();
  // @include align-items(center);

  @include media-type(1366px) {
    width: 816px;
    padding-left: 115px;
  }
  @include media-type(1024px) {
    width: 646px;
    padding-left: 87px;
  }
  @media only screen  and (max-width: 958px) and (max-height: 481px) {
    padding-left: 87px;
    padding-top: 63px;
  }
  @media only screen  and (max-width: 698px) and (max-height: 481px) {
    background-image: none;
  }
  @include media-type(phone) {
    background-color: rgba(255,255,255,.5);
    width: 100%;
    border-radius: 0;
    justify-content: center;
    height: 100vh;
    min-height: 0;
    background-position: -40px 100%;
    padding-left: 10%;
  }


  & > section {
    // flex: .70;

    @include media-type(laptop) {
      // flex: .80;
    }
    @include media-type(tablet) {
      flex: .85;
      // width: 85%;
    }
    @include media-type(phone) {
      // width: 70%;
      flex: .70;
    }
    p {
      margin-bottom: 0;
    }
  }
  article section {
    .title-container {
      height: 270px;
      width: 739.19px;
      overflow: hidden;
      position: relative;

      @include media-type(laptop) {
        width: 620px;
        height: 216px;
      }
      @include media-type(tablet) {
        height: 252px;
        width: 479.5px;
      }
      @include media-type(phone) {
        height: 140px;
        // width: 252px;
      }
      @include media-type(510px) {
        height: 140px;
        width: 352px;
      }
    }
    .btn-container {
      min-height: 47px;
      position: relative;
      overflow: hidden;
    }
    h1 {
      transition-delay: 1s;
      transition: all .5s ease-in;
      bottom: 0;
      position: absolute;
      color: $h1-color-2;
    }
    .btn {
      transition-delay: 1s;
      bottom: 0;
      transition: all .5s ease-in;
      position: absolute;
    }
  }
}


footer {
  display: none;
}


//Page offload animations
body.unload {

  header {
    .nav-logo {
      transition-delay: .5s;
      margin-top: -100%!important;
      @include media-type(tablet) {
        transition: all .5s cubic-bezier(0.4, 0, 1, 1);
        margin-left: -100%!important;
      }
    }

    button {
      @include media-type(tablet) {
        transition: all .5s cubic-bezier(0.42, 0, 0.55, 1.02);
        margin-top: -100%;
        margin-right: -100%!important;
      }
    }
    ul {
      @include media-type(tablet) {
        transition: all .5s cubic-bezier(0.42, 0, 0.55, 1.02);
        margin-left: -100%!important;
      }
      & > li {

        a {
          transition: all .5s cubic-bezier(0.42, 0, 0.55, 1.02);
          margin-top: -100%;
          @include media-type(tablet) {
            margin-top: 0%!important;
          }
        }
        &:nth-child(1) {
          a {
            transition-delay: .05s;
          }
        }
        &:nth-child(2) {
          a {
            transition-delay: .10s;
          }
        }
        &:nth-child(3) {
          a {
            transition-delay: .15s;
          }

        }
        &:nth-child(4) {
          a {
            transition-delay: .2s;
          }

        }
        &:nth-child(5) {
          a {
            transition-delay: .25s;
          }
        }

      }
    }
  }
  main {
    width: 120%;
    transition: all .5s ease-out;
    background-position: -23% 97%;
    section {
      h1 {
        bottom: -100%;
      }
      .btn {
        bottom: -100%;
      }
    }
  }
}
