// can pass in hex color, then opacity
.horz-grad(@c1, @c2, @op1: 100, @op2: 0 ){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(left, fade( @c1, @op1 ) 0%, fade( @c2, @op2 ) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, fade( @c1, @op1 ) 0%,fade( @c2, @op2 ) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, fade( @c1, @op1 ) 0%,fade( @c2, @op2 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@c1, endColorstr=@c2,GradientType=1 ); /* IE6-9 */
}

// can pass in hex color, then opacity
.vert-grad(@c1, @c2, @op1: 100, @op2: 0 ){
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,7db9e8+100&1+0,0+100 */
    background: -moz-linear-gradient(top, fade( @c1, @op1 ) 0%, fade( @c2, @op2 ) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, fade( @c1, @op1 ) 0%,fade( @c2, @op2 ) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, fade( @c1, @op1 ) 0%,fade( @c2, @op2 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@c1, endColorstr=@c2,GradientType=1 ); /* IE6-9 */
}
