//overlay mixin

@mixin active-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
$breakpoints: (
  // phone: 768px,
  phone: 825px,
  tablet: 1024px,
  laptop: 1700px,
  desktop: 1700px
);
//media queries mixins
@mixin media-type($media, $min:null, $max:null) {
  @if $media == phone {
    @media only screen and (max-width: map-get($breakpoints, "phone")) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: map-get($breakpoints, "tablet")) { @content; }
  }
  @else if $media == laptop {
    @media only screen and (max-width: map-get($breakpoints, "laptop")) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: map-get($breakpoints, "desktop")) { @content; }
  }
  @else if $media == custom {
    @media only screen and (min-width: $min) and (max-width: $max) { @content; }
  }
  @else {
    @media only screen and (max-width: $media) { @content }
  }
}


@mixin flex-container($flow: row, $wrap: nowrap) {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: $flow;
    -webkit-flex-flow: $flow $wrap;
    flex-flow: $flow $wrap;
}
@mixin flex-wrap($wrap){
    -webkit-flex-wrap: $wrap;
    -ms-flex-wrap: $wrap;
    flex-wrap: $wrap;
}

@mixin flex-order($order){
    -webkit-box-ordinal-group: $order;
    -ms-box-ordinal-group: $order;
    -ms-flex-order: $order;
    -webkit-order: $order;
    order: $order;
}

@mixin flex($arguments){
    -webkit-box-flex: $arguments;
    -moz-box-flex: $arguments;
    -webkit-flex: $arguments;
    -ms-flex: $arguments;
    flex: $arguments;
}

@mixin align-items($param){
    -webkit-align-items: $param;
    align-items: $param;
}

@mixin align-self($param){

    -webkit-align-self: $param;
    align-self: $param;
}

@mixin justify-content($param){
    -webkit-justify-content: $param;
    justify-content: $param;
}
