
/*******************************************************
  Most helpers can be found in the _helper.sass file
  ******************************************************/


//   1. colors
//   2. fonts
//   3. body
//   3. nav
//   4. Button
//   5. Forms
//   6. footer

//imports
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,700');

// VARIABLES

//    1. Node display Settings
//    -------------------------
$theme-display: flex !default;
// defaults to column to offer a dom flow similar to block.
$theme-flex-direction: column !default;


//    1. Lists
//    ----------
$theme-list-bullet: url('../../../assets/images/mini-logo-icon.png');
$theme-list-margin-left: 60px;
$theme-list-bullet-width: 22px;
$theme-list-bullet-height: 22px;



//    1. Breakpoints
//    ---------------
// TODO: script to auto generate media queries in the media-type mixin
$breakpoints: (
  "phone": 825px,
  "tablet": 1024px,
  "laptop": 1700px,
  "desktop": 1700px
);


//    1. Colors
//    ---------
$white: #fefefe;
$light-grey: #cacaca;
$med-grey: #454545;
$dark-grey: #8a8a8a;
$black: #0a0a0a;
$orange: #C0581F;
$yellow: #F4DA71;
// $orange: #d56b24;


// TODO: script to auto make helper classes based on what's in the $theme-palette
$theme-palette: (
  orange: #C0581F,
  grey: #454545,
  red: #cc4b37,
  green: #3adb76
);





//    2. Fonts
//    ---------
$font-stack: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$strong-font-weight: 700;
// $p-font-size: responsive-font(32px, 35px, 150px, 50px);

//        P
//    ---------

$p-font-size: 18px;
$p-line-height: 28px;
$p-color: map-get($theme-palette, grey);
$p-margin-bottom: 19px;



//        H1
//    ---------

$h1-color: $white;
$h1-font-size: 70px;
$h1-line-height: 74px;
$h1-font-weight: 500;
$h1-color-2: map-get($theme-palette, grey);
$h1-margin-bottom: 24px;

$h1-font-size-laptop: 54px;
$h1-line-height-laptop: 56px;
$h1-margin-bottom-laptop: 24px;

$h1-font-size-tablet: 47.62px;
$h1-line-height-tablet: 51.11px;
$h1-margin-bottom-tablet: 24px;

$h1-font-size-phone: 28.26px;
$h1-line-height-phone: 30.33px;
$h1-margin-bottom-phone: 24px;


//        H2
//    ---------

$h2-color: $white;
$h2-font-size: 32px;
$h2-line-height: 32px;
$h2-font-weight: 500;
$h2-color-2: map-get($theme-palette, orange);
$h2-margin-bottom: 24px;

$h2-font-size-laptop: 29px;
$h2-line-height-laptop: 29px;
$h2-margin-bottom-laptop: 19px;

$h2-font-size-tablet: 29px;
$h2-line-height-tablet: 29px;
$h2-margin-bottom-tablet: 19px;

$h2-font-size-phone: 29px;
$h2-line-height-phone: 29px;
$h2-margin-bottom-phone: 19px;






//        H3
//    ---------


$h3-color: $white;
$h3-font-size: 32px;
$h3-line-height: 32px;
$h3-font-weight: 500;
$h3-color-2: map-get($theme-palette, orange);
$h3-margin-bottom: 24px;

$h3-font-size-laptop: 29px;
$h3-line-height-laptop: 29px;
$h3-margin-bottom-laptop: 19px;

$h3-font-size-tablet: 29px;
$h3-line-height-tablet: 29px;
$h3-margin-bottom-tablet: 19px;

$h3-font-size-phone: 29px;
$h3-line-height-phone: 29px;
$h3-margin-bottom-phone: 19px;


//      Anchor
//    ---------

$link-color: $orange;
$link-text-decoration: none;


$link-font-size: 18px;
$link-line-height: 24.91px;
$link-font-weight: 500;
$link-color-2: map-get($theme-palette, orange);
$link-margin-bottom: 24px;

$link-font-size-laptop: 18px;
$link-line-height-laptop: 17.65px;
$link-margin-bottom-laptop: 24px;

$link-font-size-tablet: 14px;
$link-line-height-tablet: 17.65px;
$link-margin-bottom-tablet: 24px;

$link-font-size-phone: 14px;
$link-line-height-phone: 17.65px;
$link-margin-bottom-phone: 24px;



//    3. Body
//    ---------
$body-bg-color: $white;
$body-min-height: 100vh;


//    3. menus
//    ---------
// global Navigation


// nav node
$mobile-menu-type: bubble;
$topbar-mobile-menu-trigger-width: tablet;

$topbar-height: 90px;
$topbar-width: 100%;
$topbar-background: $white;
$topbar-flex-direction: row;
$topbar-justify-content: center;
$topbar-mobile-height: 98px;
$topbar-bg-mobile: transparent;
$topbar-position: fixed;

// nav wrapper
$nav-wrapper-width: 96%;
$nav-wrapper-justify-content: flex-start;
$nav-wrapper-justify-content-mobile: space-between;
$nav-wrapper-width-mobile: 100%;


// nav
$nav-display: flex;

//nav menu
$menu-flex-direction: row;

//nav menu links
$nav-link-height: $topbar-height;
$nav-link-padding: 1rem 2rem;
$nav-link-padding-laptop: 1rem 1.5rem;

$nav-link-color: $p-color;

$nav-link-hover-color: $white;
$nav-link-hover-bg: map-get($theme-palette, grey);
$nav-link-hover-color-mobile: $white;
$nav-link-hover-bg-mobile: $black;

$nav-link-font-size: 14px; //firaSans Medium
$nav-link-line-height: 17.65px;
$nav-link-letter-spacing: .05em;
$nav-link-font-weight: 500;
$nav-link-text-transform: uppercase;


// navbar logo
$nav-logo-width: 150px;
$nav-logo-position: center;
$nav-logo-margin: 0 4% 0 0;
$nav-logo-margin-mobile: 0 0 0 30px;

// mobile navbar
// TODO: addd mobile navbar settings


// navbar button
$hamburger-padding-x                       : 25px !default;
$hamburger-padding-y                       : 25px !default;
$hamburger-layer-width                     : 30px !default;
$hamburger-layer-height                    : 6px !default;
$hamburger-layer-spacing                   : 4px !default;
$hamburger-layer-color                     : #fff !default;
$hamburger-layer-border-radius             : 4px !default;
$hamburger-hover-opacity                   : 1 !default;
$hamburger-hover-transition-duration       : 0.15s !default;
$hamburger-hover-transition-timing-function: ease-in !default;
$hamburger-display-desktop: none;
$hamburger-display-mobile: block;


$hamburger-bg-color: map-get($theme-palette, orange);
$hamburger-border-radius: 0 0 0 100%;
// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter    : opacity(50%) !default;

// List of all the types of menu button animations
// Types (Remove or comment out what you don’t need)
$hamburger-types: (
  // 3dx,
  // 3dx-r,
  // 3dy,
  // 3dy-r,
  // 3dxy,
  // 3dxy-r,
  // arrow,
  // arrow-r,
  // arrowalt,
  // arrowalt-r,
  // arrowturn,
  // arrowturn-r,
  // boring,
  // collapse,
  // collapse-r,
  // elastic,
  // elastic-r,
  // emphatic,
  // emphatic-r,
  // minus,
  // slider,
  // slider-r,
  // spring,
  // spring-r,
  // stand,
  // stand-r,
  spin,
  // spin-r,
  // squeeze,
  // vortex,
  // vortex-r
) !default;


//    4. Button
//    ---------
$btn-border: 0;
$btn-border-radius: 0 !default;
$btn-border-color: transparent !default;
$btn-border-width: 0 !default;
$btn-bg: transparent !default;
$btn-text-color: $white !default;
$btn-appearance: none;
$btn-outline: s; //pass in a bad value to set value to default
$btn-margin: 1rem 2rem !default;
$btn-letter-spacing: 1px;
$btn-text-align: center;
$btn-padding: 1rem 2rem;
$btn-display: inline-block;
$btn-text-transform: uppercase;
$btn-font-size: 15px;
$btn-line-height: 15px;
$btn-font-weight: 400;


//    5. Forms
//    ---------

// $form-bg-color: transparent
// $form-text-color: $theme-main-font-color
// $form-input-focus-label-text-color:  $theme-main-font-color




//    6. containers
//    ---------

$main-max-width: 975px;
$main-width:100%;
$main-min-width: 0;
$main-margin: 80px auto;
$main-padding-phone: 0 20px;
$main-padding-tablet: 0 40px;


//    6. Hero
//    ---------

$hero-height: 50vh;
$hero-min-height: 650px;
$hero-min-tablet: 400px;
$hero-min-phone: 200px;
$hero-width: 100%;
$hero-overlay-width: 100%;
$hero-overlay-bg-color: 0;


//    6. Footer
//    ---------
$footer-display: row;
$footer-justify-content: space-between;
$footer-padding: 0 80px;
$footer-padding-mobile: 0 20px;
$footer-flex-direction-phone: column;
$footer-text-align: center;
