//    6. Footer
//    ---------
$footer-display: column;
$footer-justify-content: center;
$footer-padding: 0px;
$footer-padding-mobile: 0px;
$footer-flex-direction-phone: column;
$footer-text-align: center;

$footer-wrapper-width: 80%;
