# dependencies
/node_modules
/.DS_Store
/Users/kipp0/Sites/mine/wpBaby-Wordpress/wp-content/themes/wpBaby/assets/styles/dist/
/Users/kipp0/Sites/mine/wpBaby-Wordpress/wp-content/themes/wpBaby/assets/scripts/dist/