

// settings
$card-background-clip: border-box;
$card-border-radius: 0;

// header
$card-header-padding: 0;
// $card-header-padding: .75rem 1.25rem;
$card-header-border-bottom: 0;
// $card-header-border-bottom: 1px solid rgba(0,0,0,.125);
$card-header-margin-bottom: 0;

// header image
$card-image-width: 100%;

// Body
$card-body-padding: 0;
// $card-body-padding: 1.25rem;

// Footer
$card-footer-padding: 0;
// $card-footer-padding: .75rem 1.25rem;
$card-footer-border-top: 0;
// $card-footer-border-top: 1px solid rgba(0,0,0,.125);

// card grouping
$card-grouping-margin-right: 15px;
$card-grouping-margin-left: 15px;
$card-grouping-margin-bottom: 0;